a {
  text-decoration: none;
  font-style: inherit;
  font-size: inherit;
  color: #000;
}

.auth_layout {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body {
  background-color: #61bddb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2 {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.h3 {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  background-color: #F0EAD6;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.label {
  margin-top: 1rem;
}

.btn_default {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #61bddb;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
  min-width: 130px;
  text-align: center;
}

.btn_default:hover {
  border: 1px solid #e40000;
  color: #e40000;
}

.btn_default:active {
  background-color: #c4f7de;
}

.btn_submit {
  margin-top: 1rem;
}

.record_table {
  width: 90%;
  padding: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 1rem;
  overflow-y: auto;
}

.record_table_header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #E5EDF1;
  border-bottom: 1px solid black;
}

.table_header_item {
  text-align: center;
}

.record_table_body {
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.record_table_row {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.record_table_row:nth-child(odd) {
  background-color: #abf9d3;
}

.record_table_row:hover {
  background-color: #ffffff;
}

.record_table_row:active {
  background-color: #F0EAD6;
}

.record_table_id {
  flex: 1;
  display: block;
  text-align: center;
}

.record_table_fio {
  flex: 3;
  display: block;
  border-left: 1px solid #000;
  padding-left: 1rem;
}

.record_table_time {
  border-left: 1px solid #000;
  flex: 1;
  display: block;
  text-align: center;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #61bddb;
}

.help:hover{
  cursor: pointer;
  background-color: #61bddb;
}