.header {
  background-color: #9af3c6;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header_title {
  margin-left: 1rem;
}

.header_info {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header_exit_btn {
  margin-left: 1rem;
}