.new_office_user_form {
  min-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  .new_office_user_form {
    display: block;
  }
}

.new_patient_table {
  width: 95%;
  padding: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-top: 1rem;
}

#table-scroll {
  display: flex;
  padding: 0;
  width: 95%;
  justify-content: center;
  max-height: 400px;
  overflow-y: auto;
}

.auth_data {
  margin-bottom: 1rem;
}

.new_patient_thead {
  background-color: #E5EDF1;
  border-bottom: 1px solid black;
}

.new_patient_fio,
.new_patient_address {
  border-left: 1px solid #000;
  padding-left: 1rem;
  text-align-last: left;
}

.new_patient_login,
.new_patient_role {
  width: 100px;
}

.new_patient_born,
.new_patient_phone,
.new_patient_passport {
  width: 120px;
}

.new_patient_born,
.new_patient_phone,
.new_patient_passport,
.new_patient_login,
.new_patient_role {
  border-left: 1px solid #000;
}

.new_patient_tr {
  cursor: pointer;
}

.new_patient_tr:nth-child(odd) {
  background-color: #61bddb;
}

.new_patient_tr:hover {
  background-color: #ffffff;
}

.new_patient_tr:active {
  background-color: #F0EAD6;
}

.editMode {
  background-color: #61bddb;
}

.delete_btn {
  width: 95%;
  margin-bottom: 0;
  margin-top: 24px;
}

.find_user {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.find_user_title {
  width: 400px;
}